body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  user-select: contain;
  line-height: 1.4;
}

.switch {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #64b5f6;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

h1 {
  text-align: center;
  margin-bottom: -10px;
  margin-top: 20px;
  color: #64b5f6;
  font-size: 65px;
}

.sub-heading {
  text-align: center;
  font-weight: 200;
  font-size: 26px;
  margin-bottom: 50px;
}

.main-content {
  margin: auto;
  width: 60%;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 4%;
  background-color: #112241;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

li {
  font-size: 20px;
}

mark {
  background-color: #8b8bf7;
  color: rgb(0, 0, 0);
  border: 1px solid blue;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#extra {
  border-radius: 50%;
  width: 40%;
}

#social-engineering {
  height: 310px;
  border-radius: 10%;
}

#vulns {
  border-radius: 50%;
  width: 40%;
}

.youtube {
  font-size: 18px;
  color: white;
  border: 2px solid #0000ee;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 45%;
  transition: 0.5s ease-in-out;
}

.youtube:hover {
  background-color: #0000ee;
  color: black;
}

.footer {
  background-color: #141414;
  padding: 2%;
}

.copyright {
  text-align: center;
}

.follow {
  font-weight: 800;
  font-size: 18px;
  margin-left: 120px;
}
.social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

#linkedin:hover {
  color: #0077b5;
}

#twitter:hover {
  color: #1da1f2;
}

#instagram:hover {
  color: #4c68d7;
}

#youtube:hover {
  color: #ff0000;
}
.social-link i {
  font-size: 18px;
  margin-right: 20px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .sub-heading {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 800;
  }

  .youtube {
    font-size: 12px;
    border: 3px solid #0000ee;
    padding: 10px;
    font-weight: 900;
    display: block;
    margin: 20px auto; /* Center the link */
    text-align: center;
  }

  .main-content {
    width: 90%;
  }

  .image {
    width: 80%;
  }

  #extra,
  #vulns {
    width: 80%;
  }
}

/* Dark and Light Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.light-mode {
  background-color: #f0f0f0;
  color: #121212;
}

.main-content.light-mode {
  background-color: #ffffff;
}

.footer.light-mode {
  background-color: #d3d3d3;
}

.youtube.light-mode {
  color: black;
}

.social-link.light-mode {
  color: #000;
}
